// @import 'vendor/';

@import 'helpers/variables';
@import 'helpers/mixins';

@import 'base/reset';
@import 'base/page';

$modalHeight: 630px;

// @import 'components/form';

// @import 'sections/header';

.iframe,
.iframe body {
    overflow: hidden;
}

.ng-cloak {
    display: none !important;
}

.atletas-landing{
    .breadcrumbs-custom{
        font-family: "MaisonNeue-Book",Arial,Helvetica,sans-serif;
        padding:33px 0 29px;
    }
    .breadcrumbs-custom ul{
        display:block;
        width:100%;
        margin:auto;
    }
    .breadcrumbs-custom a{
        color: #000f3f;
        text-decoration: none;
    }
    .breadcrumbs-custom ul li{
        font:14px "MaisonNeue-Book",Arial,Helvetica,sans-serif;
        display:inline-block;
    }
    .breadcrumbs-custom ul li strong{
        font-weight:bold;
        color: #666;
    }
    .main-text{
        h1{
            font-weight: 700;
            font-size: 26px;
            margin-bottom: 35px;
            font-family: "MaisonNeue-Book",Arial,Helvetica,sans-serif;
            color:#05244b;
        }
        p{
            line-height: 1.6;
        }
    }
    .img-box{
        width: 100%;
        position: relative;
        overflow: hidden;
        img{
            position: absolute;
            min-width: 100%;
            min-height: 100%;
            max-width: 200%;
            left: 50%;
            top: 50%;
            transform: translateY(-50%) translateX(-50%);
        }
        &.main-box{
            height: 495px;
        }
    }
    .wrapper{
        width: 1275px;
        margin: 0 auto;
        @include clearfix();
    }
    h1.title{
        color: #05244b;
        font-size: 26px;
    }
    p{
        color: #666666;
        font-size: 12px;
    }
    .accordion-button{
        color: white;
        font-size: 22px;
        padding: 15px;
        display: block;
        position: relative;
        box-sizing: border-box;
        width: 100%;
        background: #05244b;
        margin: 40px 0 30px;
        text-decoration: none;
        .close-modal{
            width: 20px;
            height: 20px;
            text-align: center;
            display: block;
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .thumbs-container {
        @include clearfix();
        display: none;
        margin: 0 -7px;
        .img-box{
            height: 0;
        }
        &.open{
            display: block;
            .img-box{
                height: 220px;
            }
        }
    }
    .thumb{
        position: relative;
        width: 415px;
        cursor: pointer;
        display: inline-block;
        margin: 0 7px 20px;
        .img-box{
            img{
                max-width: 100%;
            }
        }

        .img-box{
            margin-bottom: 15px;
            height: 220px;
            &:hover{
                .hover{
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        &.active{
            opacity: .4;
            .hover{
                display: none !important;
            }
        }
        h1.title{
            color: #001326;
            font-size: 16px;
            font-weight: 700;
            cursor: pointer;
        }
        h2.subtitle{
            font-size: 14px;
            color: #999999;
            cursor: pointer;
        }
        .hover{
            opacity: 0;
            visibility: hidden;
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 10;
            background: rgba(5,36,75, .75);
            text-decoration: none;
            transition: 150ms all ease;
            left: 0;
            top: 0;
            span{
                color: white;
                width: 160px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                height: 45px;
                line-height: 45px;
                text-align: center;
                display: block;
                font-size: 14px;
                font-weight: 700;
                border: 1px solid white;
            }
        }
    }
    .modal{
        background: #e9e9e9;
        display: none;
        position: absolute;
        width: 100%;
        left: 0;
        z-index: 100000;

        &.show {
            display: block;
        }

        .img-box{
            cursor: pointer;
        }
        .wrapper{
            position: relative;
            padding: 40px 0;
        }
        .modal-close{
            position: absolute;
            right: 0;
            top: 10px;
            color: white;
            background: url('http://www.news.fila.com.br/landing_atletas/atletas/close-modal.png');
            border-radius: 50%;
            line-height: 20px;
            text-align: center;
            width: 22px;
            height: 22px;
            cursor: pointer;
            transition: 150ms all ease;
            opacity: 1;
            &:hover{
                opacity: .8;
            }
        }
        &.open{
            opacity: 1;
            visibility: visible;
            display:  block;
        }
        .top-info{
            margin-bottom: 50px;
            .social-name{
                display: inline-block;
                position: relative;
            }
            .social{
                margin-top: 10px;
                position: absolute;
                li{
                    display: inline-block;
                    margin-right: 5px;
                    &:last-child{
                        margin-left: 0;
                    }
                    a{

                        &.social-facebook{
                                background: url("http://www.news.fila.com.br/landing_atletas/atletas/facebook.png");
                        }
                        &.social-youtube{
                                background: url("http://www.news.fila.com.br/landing_atletas/atletas/youtube.png");
                        }
                        &.social-twitter{
                                background: url("http://www.news.fila.com.br/landing_atletas/atletas/twitter.png");
                        }
                        &.social-instagram{
                                background: url("http://www.news.fila.com.br/landing_atletas/atletas/instagram.png");
                        }
                    }
                }
                a{
                    display: block;
                    width:19px;
                    height:19px;
                }
            }
            .icon-logo{
                width: 45px;
                height: 34px;
                display: inline-block;
                background: red;
                position: relative;
                top: 9px;
            }
            .sep{
                width: 2px;
                height: 25px;
                background: #ccc;
                position: relative;
                top: 5px;
                display: inline-block;
                margin: 0 20px;
            }
            .brand{
                position: relative;
                top: 7px;
            }
            .name{
                display: inline-block;
            }
            .ranking{
                display: inline-block;
                span{
                    color: #05244b;
                    font-size:14px;
                    position: relative;
                    top: -3px;
                    vertical-align: middle;
                    font-weight: 700;
                    &.big{
                        font-size: 26px;
                        color: #b81226;
                        margin-right: 5px;
                    }
                }
            }
        }
        .titles{
            h3{
                display: inline-block;
            }
            span{
                display: inline-block;
            }
            .item{
                margin-bottom: 10px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        .main-info{
            padding: 25px 0;
            margin: 25px 0;
            border-bottom: 2px solid #cccccc;
            border-top: 2px solid #cccccc;
            @include clearfix();
            h3{
                display: inline-block;
            }
            span{
                display: inline-block;
            }
            .item{
                margin-bottom: 10px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
            .right, .left{
                width: 50%;
            }
        }
        .right{
            box-sizing: border-box;
            padding-left: 30px;
            width: 50%;
        }
        .left{
            width: 50%;
        }
        .img-box{
            height: 355px;
            float: left;
            margin-bottom: 10px;
            &.tiny{
                width: 92px;
                height: 75px;
                margin-right: 12.5px;
                &:nth-child(5n+6){
                    margin-right: 0;
                }
                &:hover{
                    .hover{
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
            .hover{
                opacity: 0;
                visibility: hidden;
                position: absolute;
                height: 100%;
                width: 100%;
                z-index: 10;
                background: rgba(5,36,75, .75);
                text-decoration: none;
                transition: 150ms all ease;
                span{
                    color: white;
                    width: 20px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    height: 20px;
                    line-height: 20px;
                    text-align: center;
                    display: block;
                    font-size: 14px;
                    font-weight: 700;
                    background: url('http://www.news.fila.com.br/landing_atletas/atletas/search.png') center no-repeat;
                }
            }
        }
        .left{
            width: 40%;
            float: left
        }
        .right{
            width: 60%;
            float: right;
        }
        p{
            line-height: 1.6;
            font-size: 12px;
            color: #666;
        }
        h1{
            &.name{
                color:#05244b;
                font-size: 22px;
                font-weight: 700;
            }
        }
        h2{
            &.title{
                font-weight: 700;
                font-size: 18px;
                display: block;
                color:#ba1228;
                margin-bottom: 15px;
            }
        }
        h3{
            &.info{
                color: #05244b;
                font-weight: 700;
                font-size: 14px;
                &.icon{
                    &:before{
                        display: inline-block;
                        background: red;
                        width: 14px;
                        height: 16px;
                        content: '';
                        position: relative;
                        margin-right: 5px;
                        top: 3px;
                    }
                }
            }
        }
        span{
            &.info{
                color: #666666;
                font-size: 14px;
            }
        }
    }
}
@media screen and (max-width: 1300px){
    .atletas-landing{
        .wrapper{
            width: 844px;
            margin: 0 auto;
        }
        .modal{
            .top-info{
                .sep{
                    display: none;
                }
            }
        }
        /* .thumbs-container{
            .thumb{
                float: left;
            }
        } */
        .modal{
            .top-info{
                .ranking{
                    display: block;
                    margin-top: 20px;
                }
                .social{
                    top: 115px;
                }
            }
            .main-info{
                .left, .right{
                    width: 100%;
                    padding: 0;
                }
                .right{
                    margin-top: 20px;
                }
            }
            .left, .right{
                width: 510px;
                float: none;
                margin: 0 auto;
                @include clearfix();
                padding: 0;
            }
        }
    }
}
@media screen and (max-width: 900px){
    .atletas-landing{
        .wrapper{
            width: 90%;
        }
        .thumbs-container{
            text-align: center;
            /* .thumb{
                margin: 0 auto;
            } */
        }
    }
}
@media screen and (max-width: 550px){
    .atletas-landing{
        .thumbs-container{
            .thumb{
                /* float: none;
                margin: 0 auto; */
                width: 270px;
                .img-box{
                    height: 182px;
                }
            }
        }
        .modal{
            .right, .left{
                width: 90%;
                margin: 0 auto;
            }
            .img-box{
                height: 50vw;
                &.tiny{
                    &:nth-child(5n+6){
                        margin-right: 12.5px;
                    }
                }
            }
        }
    }
}
